@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped table-bordered">
    <tr>
        <th>Col 1</th>
        <th>Col 2</th>
        <th>Col 3</th>
    </tr>
    <tr>
        <td>Col 1</td>
        <td>Col 2</td>
        <td>Col 3</td>
    </tr>
    <tr>
        <td>Col 1</td>
        <td>Col 2</td>
        <td>Col 3</td>
    </tr>
</table>

<div class="container">
    <div class="row">
       <div class="col-lg-3 row-item">
           <h2>Item 1</h2>
       </div>
       <div class="col-lg-3 row-item">
           <h2>Item 2</h2>
       </div>
       <div class="col-lg-3 row-item">
           <h2>Item 3</h2>
       </div>
       <div class="col-lg-3 row-item">
           <h2>Item 4</h2>
       </div>
    </div>
</div>
